@media (min-width: 1200px) {
     :root {
         --navbar-width: 650px;
         --navbar-width-focused: 1000px;
         --url-max-width-not-focused: 400px;
    }
     #urlbar-container {
         max-width: var(--url-max-width-not-focused);
         transition: max-width 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
    }
     #nav-bar {
         margin: -44px calc(100vw - var(--navbar-width)) 0px 0px !important;
    }
     #TabsToolbar {
         -moz-padding-start: var(--navbar-width) !important;
    }
     #nav-bar:has(#urlbar[focused]) {
         margin: -44px calc(100vw - var(--navbar-width-focused)) 0px 0px !important;
    }
     body:has(#urlbar[focused]) #TabsToolbar {
         -moz-padding-start: var(--navbar-width-focused) !important;
    }
     body:has(#urlbar[focused]) #urlbar-container {
         max-width: 100vw !important;
    }
     .tabbrowser-tab {
         margin-bottom: 1px !important;
    }
     #new-tab-button, .tabs-newtab-button, #TabsToolbar .toolbarbutton-1[label="New tab"] {
         margin-top: -3px !important;
         color: #aed2ff !important;
    }
     .urlbar-background, #searchbar {
         border-radius: 0 8px 8px 0 !important;
    }
}
#new-tab-button .toolbarbutton-icon, .tabs-newtab-button .toolbarbutton-icon, #TabsToolbar .toolbarbutton-1[label="New tab"] .toolbarbutton-icon {
     fill: #aed2ff !important;
}
 